<p style="color: green"><%= notice %></p>

  <h1>我的购物单</h1>

<div id="shoppinglists">

  <% @shoppinglists.each do |shoppinglist| %>
  
    <%#= render shoppinglist %>
    <div class="shoppinglist-list">
      <strong> 购物单 <%= shoppinglist.id %> </strong> | 
      <span color="gray"> created at <%= time_ago_in_words(shoppinglist.created_at)%> ago </span> 
      <br/>
      <span>
        <span style="color:green;"> <% if shoppinglist.mtype == 0 %> 添置 <% else %> 购买 <% end %> </span>
        预计花费 <%= shoppinglist.total%> ¥
      </span>
      <br/>
      <span> <%= link_to "详情", shoppinglist %> </span>
    </div>

  <% end %>

  <% if @shoppinglists.size() == 0 %>
    <div class="shoppinglist-list">
      空空如也，快去添加一些吧
    </div>
  <% end %>

</div>

<%= paginate @shoppinglists %>

<% if current_manipulator.mtype == 0 %>
  <%= button_to "新增添置", new_shoppinglist_path, method: :get %>
<% else %>
  <%= button_to "新增购买", new_shoppinglist_path, method: :get %>
<% end %>