<p style="color: green"><%= notice %></p>

<h2>Blog</h2>

<%= render @blog %>

<div>
  <%= link_to "Edit", edit_blog_path(@blog) %> |
  <%= link_to "Destroy", @blog, :confirm => 'Are you sure?', method: :delete %>
  <br />
  <%= link_to "See All Blogs Post", blogs_path %>
</div>

<h2>Comments</h2>

<div id="comments">
  <%= render :partial => @blog.comments %>
</div>

<%= form_for [@blog, Comment.new] do |newC|%>
  <p>
    <%= newC.label :content, "New Comment" %> <br/>
    <%= newC.text_area :content, :rows => 5 %>
  </p>
  <p>
    <%= newC.submit "Add Comment" %>
  </p>
<% end %>