<p style="color: green"><%= notice %></p>

<%= render @product %>

<div>
  <% if current_manipulator.mtype == 0 %>
    <%= button_to "商品下架", @product, method: :delete %>

    <%= link_to "编辑商品信息", edit_product_path(@product) %> |
  <% end %>
  <%= link_to "返回", products_path %>
</div>
